html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: profont;
    src: url(Pro-Font.ttf);
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Thin.ttf);
}

@font-face {
    font-family: bigfont;
    src: url(Gobold-Bold.ttf);
}

body {
    background-color: #efefef;
}

.nav {
    position: relative;
    left: 0px;
    right: 0px;
    height: 60px;
    background-color: #fff;
    padding-left: 15px;
    font-size: 30px;
    font-family: profont;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
}

.nav img {
    height: 48px;
    margin-top: 5px;
    margin-right: 15px;
}

.nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
}

.nav li {
    float: left;
    margin-right: 50px;
}

.nav li a {
    display: block;
    text-decoration: none;
    color: #797979;
}

.nav li a:hover {
    opacity: 0.7;
    transform: scale(1.03, 1.03);
}

.stopwatch {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.stopwatch img {
    width: 400px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2));
}

.stopwatch canvas {
    position: absolute;
    bottom: 17px;
    /*background-color: #fff;*/
}

.button {
    vertical-align: top;
    display: inline-flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #000;
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.15));
    cursor: pointer;
}

.button p {
    margin: auto;
    text-align: center;
    font-size: 45px;
    font-family: bigfont;
}

.button:hover {
    transform: scale(1.05, 1.05);
}

.button:active {
    transform: scale(0.95, 0.95);
    user-select: none;
}

.digital {
    text-align: center;
    margin-bottom: 35px;
}

.digital p {
    font-family: bigfont;
    font-size: 50px;
    color: #4d4d4d;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

table {
    font-family: roboto;
    font-size: 20px;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #fff;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table td a {
    color: #2161ed;
    text-decoration: none;
}

th {
    text-align: center;
    background-color: #e2e2e2;
    font-weight: bold;
}

.center {
    text-align: center;
}

.container {
    width: 90%;
    display: inline-block;
    text-align: center;
}

.action {
    display: inline-block;
    text-align: left;
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    color: #2161ed;
}

.reset {
    display: inline-block;
    text-align: center;
    width: 93px;
    height: 30px;
    background-color: #e2e2e2;
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    color: #000;
}

.action p {
    margin-top: 2px;
}

.action:hover {
    transform: scale(1.05, 1.05);
}

.action:active {
    transform: scale(0.95, 0.95);
    user-select: none;
}